.TabGroup {
  .nav {
    border-bottom: solid var(--color-border-default, #{rgba(black, 0.1)});
    margin-bottom: 15px;
  }
  
  .tab {
    background: none;
    border: 0;
    color: var(--color-text-minimum, #637288);
    cursor: pointer;
    font-weight: 600;
    padding: 10px;

    &_active {
      background: none;
      border: 0;
      border-bottom: solid var(--blue, #118cfd);
      color: var(--blue, #118cfd);
      font-weight: 600;
      padding: 10px;
    }

    &:hover {
      color: var(--color-text-muted, #4f5a66);
    }
  }
}
