#rdmd-demo {
  --rdmd-demo-container: 1200px;
  --rdmd-demo-mono: menlo, monospace;
  --rdmd-demo-blue: #018ef5;

  .rdmd-demo--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--rdmd-demo-blue);
    height: 64px;
  }

  .rdmd-demo--header-content {
    display: flex;
    align-items: center;
    width: var(--rdmd-demo-container);
    padding: 0 2em;
    color: white;
    display: flex;
    align-items: center;
    h1 {
      margin: 0;
      font-size: 1.5em;
      font-weight: 500;
      line-height: 1;
      code {
        font-size: inherit;
        font-family: var(--rdmd-demo-mono);
        font-weight: bold;
      }
    }
    #docsLink {
      margin-left: auto;
      padding: 0.4em;
      line-height: 1;
      color: white;
      text-decoration: none;
      border-radius: 0.3em;
      &:hover {
        color: var(--rdmd-demo-blue);
        background: white;
      }
    }
  }

  .rdmd-demo--header-logo {
    float: left;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://files.readme.io/97584af-brandmark-white.svg);
    text-indent: -99999px;
    margin-right: 1em;
  }

  .rdmd-demo--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .rdmd-demo--content {
    max-width: var(--rdmd-demo-container);
    display: flex;
    flex-direction: row;
  }

  .rdmd-demo--options {
    padding: 1em;
    border: none;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-between;
  }

  .rdmd-demo--toggles {
    display: flex;
    flex-direction: column;
  }

  .rdmd-demo--label {
    text-transform: uppercase;
    color: #bbb;
  }

  [name='demo-editor'] {
    display: block;
    color: #555;
    font-family: var(--rdmd-demo-mono);
    min-height: 32em;
    height: calc(100vh - 40em);
  }

  .rdmd-demo--editor,
  .rdmd-demo--display {
    width: 600px;
    padding: 2em;
    box-sizing: border-box;
  }

  .rdmd-demo--editor-container {
    position: sticky;
    top: -1px;
    height: 100vh;
    display: flex;
    flex-flow: nowrap column;
    > [name='demo-editor'] {
      flex: 1;
    }
  }

  .rdmd-demo--markdown-header {
    border-bottom: 1px solid #eee;
    color: #384248;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-transform: capitalize;
    word-wrap: break-word;
  }
}
