@import '../styles/main.scss';

#rdmd-demo {
  --rdmd-demo-container: 1400px;
  --rdmd-demo-content-width: 600px;
  --rdmd-demo-mono: menlo, monospace;
  --rdmd-demo-blue: #018ef5;

  // hub overrides
  #hub-content {
    padding-left: 0;
  }

  .content-toc {
    overflow: hidden !important;
  }

  #content-container {
    padding-top: 0 !important;
  }
  // end hub overrides

  .rdmd-demo--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--rdmd-demo-blue);
    height: 64px;
  }

  .rdmd-demo--header-content {
    display: flex;
    align-items: center;
    width: var(--rdmd-demo-container);
    padding: 0 2em;
    color: white;
    display: flex;
    align-items: center;
    h1 {
      margin: 0;
      font-size: 1.5em;
      line-height: 1;
      font-weight: 500;
      code {
        font-size: inherit;
        font-family: var(--rdmd-demo-mono);
        font-weight: bold;
      }
    }
    #docsLink {
      margin-left: auto;
      padding: 0.4em;
      line-height: 1;
      color: white;
      text-decoration: none;
      border-radius: 0.3em;
      &:hover {
        color: var(--rdmd-demo-blue);
        background: white;
      }
    }
  }

  .rdmd-demo--header-logo {
    float: left;
    height: 40px;
    width: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://files.readme.io/97584af-brandmark-white.svg);
    text-indent: -99999px;
    margin-right: 1em;
  }

  .rdmd-demo--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .rdmd-demo--content {
    max-width: var(--rdmd-demo-container);
    display: flex;
    flex-direction: row;
  }

  .rdmd-demo--fieldset {
    padding: 1em 0;
    border: none;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: flex-end;

    &:first-child {
      position: sticky;
      top: -3em;
      background: white;
      box-shadow: 0 -0.5em white;
      z-index: 9999999;
    }

    legend {
      text-transform: uppercase;
      color: #bbb;
    }

    select {
      border-color: #ccc;
      border-radius: 3px;
      color: #555;
      font: inherit;
      min-width: 50%;
      padding: 0.2em;
    }

    div {
      max-width: 33%;
      display: flex;
      align-items: center;
      gap: 0.2em;
      padding: 0.2em 0.4em;
    }
  }

  [name='demo-editor'] {
    display: block;
    color: #555;
    font-family: var(--rdmd-demo-mono);
    min-height: 32em;
    height: calc(100vh - 20em);
    width: 100%;
    overflow: auto;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 1em;
  }

  .rdmd-demo--editor,
  .rdmd-demo--display {
    padding: 2em;
    box-sizing: border-box;
  }

  .rdmd-demo--editor {
    width: var(--rdmd-demo-content-width);
  }

  .rdmd-demo--display {
    width: calc(var(--rdmd-demo-content-width) / 3 * 4);
  }

  .rdmd-demo--editor-container {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-flow: nowrap column;
    & {
      // pop the editor container to its parent's padding box so
      // it scrolls to the very top and bottom of the page.
      margin: -2em 0;
      padding: 2em 0;
    }
    > [name='demo-editor'] {
      flex: 1;
    }
  }

  .rdmd-demo--markdown-header {
    border-bottom: 1px solid #eee;
    color: #384248;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 1em;
    margin-top: 0;
    padding-bottom: 0.5em;
    text-transform: capitalize;
    word-wrap: break-word;
  }

  .markdown-body {
    width: 508px;
  }
}
