version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    reviewers:
      - rafegoldberg
      - kellyjosephprice
    labels:
      - dependencies
    groups:
      minor-development-deps:
        dependency-type: 'development'
        update-types:
          - minor
          - patch
      minor-production-deps:
        dependency-type: 'production'
        update-types:
          - minor
          - patch
    commit-message:
      prefix: chore(deps)
      prefix-development: chore(deps-dev)
    allow:
      - dependency-type: production

  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
    labels:
      - dependencies
    groups:
      minor-development-deps:
        dependency-type: 'development'
        update-types:
          - minor
          - patch
      minor-production-deps:
        dependency-type: 'production'
        update-types:
          - minor
          - patch
    commit-message:
      prefix: chore(deps)
      prefix-development: chore(deps-dev)
    ignore:
      - dependency-name: hast-util-to-string
        versions: ["*2.0.0"]
      - dependency-name: mdast-util-toc
        versions: ["*6.1.0"]
      - dependency-name: rehype-raw
        versions: ["*6.1.1"]
      - dependency-name: rehype-react
        versions: ["*7.1.1"]
      - dependency-name: rehype-sanitize
        versions: ["*5.0.1"]
      - dependency-name: rehype-stringify
        versions: ["*9.0.3"]
      - dependency-name: remark-breaks
        versions: ["*3.0.2"]
      - dependency-name: remark-disable-tokenizers
        versions: ["*1.1.0"]
      - dependency-name: remark-frontmatter
        versions: ["*4.0.1"]
      - dependency-name: remark-parse
        versions: ["*10.0.1"]
      - dependency-name: remark-rehype
        versions: ["*10.1.0"]
      - dependency-name: remark-slug
        versions: ["*7.0.1"]
      - dependency-name: remark-stringify
        versions: ["*10.0.2"]
      - dependency-name: unified
        versions: ["*10.1.2"]
      - dependency-name: unist-util-map
        versions: ["*3.1.1"]
      - dependency-name: unist-util-select
        versions: ["*4.0.1"]
      - dependency-name: "@hot-loader/react-dom"
        versions: ["*17.0.2"]
      - dependency-name: "@testing-library/react"
        versions: ["*13.2.0"]
      - dependency-name: react
        versions: ["*18.1.0"]
      - dependency-name: react-dom
        versions: ["*18.1.0"]
      - dependency-name: jest
        versions: ["*29.0.0"]
      - dependency-name: codemirror
        versions: ["*6.0.0"]
    allow:
      - dependency-type: production
