{
  "extends": ["@readme/eslint-config", "@readme/eslint-config/react", "@readme/eslint-config/typescript"],
  "parser": "@babel/eslint-parser",
  "root": true,
  "rules": {
    "@typescript-eslint/no-var-requires": "off"
  }
}
