.CardsGrid {
  display: grid;
  gap: 20px;

  .Card {
    padding: 15px;
    padding-bottom: 0;
    backdrop-filter: blur(20px);
    background: rgba(var(--color-bg-page-rgb, white), 1);
    border: 1px solid var(--color-border-default, rgba(black, 0.1));
    border-radius: 5px;
    box-shadow: 0 1px 2px #{rgba(black, 0.05)}, 0 2px 5px #{rgba(black, 0.02)};

    &-top {
      display: inline-flex;
      flex-direction: row;
    }

    &-icon {
      font-size: 20px;
    }

    &-title {
      color: var(--color-text-default, #384248);
    }

    &-content {
      color: var(--color-text-muted, #4f5a66);
    }
  }
}
