.Accordion {
  background: rgba(var(--color-bg-page-rgb, white), 1);
  border: 1px solid var(--color-border-default, rgba(black, 0.1));
  border-radius: 5px;

  &-title {
    align-items: center;
    background: white;
    border: 0;
    border-radius: 5px;
    color: var(--color-text-default, #384248);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    padding: 15px 20px;
    position: relative;
    text-align: left;
    width: 100%;

    &:hover {
      background: var(--color-bg-hover, #{rgba(black, 0.05)});
    }
  }

  &-arrow {
    color: var(--color-text-default, #384248);
    font-size: 12px;
    margin-right: 10px;
    transition: transform 0.2s;

    &_active {
      font-size: 12px;
      margin-right: 10px;
      transform: rotate(90deg);
      transition: transform 0.2s;
    }
  }

  &-icon {
    color: var(--color-text-muted, #4f5a66);
    margin-right: 5px;
  }

  &-content {
    display: none;

    &_active {
      color: var(--color-text-muted, #4f5a66);
      display: block;
      padding: 15px 20px 0 20px;
    }
  }
}
