.Accordion {
  background: rgba(var(--color-bg-page-rgb, white), 1);
  border: 1px solid var(--color-border-default, rgba(black, 0.1));
  border-radius: 5px;

  &-title {
    align-items: center;
    background: rgba(var(--color-bg-page-rgb, white), 1);
    border: 0;
    border-radius: 5px;
    color: var(--color-text-default, #384248);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 100%;

    &:hover {
      background: var(--color-bg-hover, rgba(black, 0.05));
    }

    .Accordion[open] & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &::marker {
      content: "";
    }

    &::-webkit-details-marker {
      display: none;
    } 
  }

  &-toggleIcon,
  &-toggleIcon_opened {
    color: var(--color-text-minimum, #637288);
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
    transition: transform 0.1s;

    &_opened {
      transform: rotate(90deg);
    }
  }

  &-icon {
    color: var(--project-color-primary, inherit);
    margin-right: 10px;
  }

  &-content {
    color: var(--color-text-muted, #4f5a66);
    padding: 5px 15px 0 15px;
  }
}
