.heading.heading {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: relative;

  .heading-text {
    flex: 1 100%;
  }

  .heading-anchor-deprecated {
    position: absolute;
    top: 0;
  }

  .heading-anchor {
    top: -1rem !important;
  }

  .heading-anchor,
  .heading-anchor-icon {
    color: inherit;
    display: inline !important;
    font-size: 0.8rem !important;
    margin-right: -0.8rem;
    order: -1;
    padding: 0.8rem 0.2rem 0.8rem 0 !important;
    position: absolute !important;
    right: 100%;
    text-decoration: none;
    top: unset !important;
    transform: translateX(-100%);
    transition: 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }

  &:not(:hover) .heading-anchor-icon {
    opacity: 0;
  }
}
