@import './gfm';
@import './components';

:root {
  // --markdown-radius: 3px;
  // --markdown-edge: #eee;
  --markdown-title: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
}

.field-description,
.markdown-body {
  @include gfm;

  font-size: var(--markdown-font-size, 14px);
}
