name: CI
on: [push]

jobs:
  Test:
    if: "!contains(github.event.head_commit.message, 'SKIP CI')"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    steps:
    - uses: actions/checkout@v2.3.4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.1.2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install npm@7
      run: npm install -g npm@7

    - name: Install dependencies
      run: |
        npm ci
        sudo apt install fonts-noto-color-emoji
        make emojis

    - name: Run tests
      run: npm test

    - name: Run visual regression tests
      run: CI=true npm run test.browser

    - uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: image-diffs
        path: __tests__/browser/ci/__diff_output__

    - name: Update regression test snapshots
      if: ${{ failure() }}
      run: CI=true npm run test.browser -- -u

    - uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: image-snapshots
        path: __tests__/browser/ci
