name: CI

on: [push]

jobs:
  Test:

    if: "!contains(github.event.head_commit.message, 'SKIP CI')"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2.1.2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        npm ci
        sudo apt install fonts-noto-color-emoji
        make emoji

    - name: Run tests
      run: npm test

    - name: Run visual regression tests
      run: npm run test.browser

    - uses: actions/upload-artifact@v2
      with:
        name: image-snapshots
        path: __tests__/browser/__image_snapshots__
