name: Release

on:
  push:
    branches:
      - master
      - chore/promote-to-single-package

jobs:
  semantic-release:
    name: Build & Publish Release
    if: "!contains(github.event.head_commit.message, 'SKIP CI')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [10.x]
    steps:

      # Setup the git repo & Node environemnt.
      #
      - name: Checkout branch (${{ github.ref }})
        uses: actions/checkout@v2
        with:
          persist-credentials: false # install breaks with persistant creds!
      - name: Setup node (v${{ matrix.node-version }})
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: |
          npm ci
          npm run oas
        env:
          PUPPETEER_SKIP_DOWNLOAD: true

      # Build, version, and tag a new release.
      #
      - name: Build new release
        run: npm run release.dry # configured in .releaserc
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }} # auth push to remote repo
          NPM_TOKEN: ${{ secrets.NPM_TOKEN || secrets.GH_TOKEN }} # auth publish to registry

      # Push release changes to the remote.
      #
      - name: Sync to remote
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
        continue-on-error: true

      # Merge @latest release back to @next.
      #
      - name: Sync to next
        if: "github.ref == 'refs/heads/master'"
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: next
        continue-on-error: true
